@import 'custom'; //appele du fichier custom.scss
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css"); //appele de bootstrap icons
// IMPORT DES FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap'); //font montserrat
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); //font roboto

// STYLE MOBILE FIRST
// STYLES DU FOOTER
@media (max-width: 768px) {
    section.footer{
      display: flex;
        flex-direction: column;
    }

}





// STYLE DESKTOP
// FIXATION DU FOOTER EN BAS DE PAGE
html{
    position: relative;
    min-height: 100%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
// EVITER LE DEBORDEMENT DU CONTENU SOUS LE FOOTER
main{
    min-height: 100vh;
    margin-bottom: 180px; //  A la hauteur du footer
}
// STYLES PAR DEFAUT DES PARAGRAPHES
p{
    font-family: $font-family-sans-serif;
    font-size: 18px;
}
// STYLES DES TITRES
h1, h2, h3, h4, h5, h6{
    font-family: $font-family-hind-madurai;
    font-weight: 600;
    color: $dark;
}
.row {
    display: flex;
    align-items: flex-end; //
    bottom: 0;
    width: 100%;
    align-content: flex-end;
    justify-content: space-between;
}
.img1{
    position: absolute;
    bottom: 0;
    height: 500px;
    width: 600px;
    left: 0;
    border-top-right-radius: 40px;
}
.img2{
    position: absolute;
    bottom: 0;
    height: 500px;
    width: 600px;
    right: 0;
    border-top-left-radius: 40px;
}
.login-form{
    background-image: url(img/cecodrive.webp);
}

